<div style="text-align:center">
  <h1>
    Welcome to Ango!
  </h1>

  <button class="refresh" mat-raised-button (click)="refreshPage()" color="primary">
    <mat-icon>refresh</mat-icon>
  </button>

</div>
