<div class="sensors">
  <mat-form-field class="sensorId">
    <mat-label>Sensor ID</mat-label>
    <input matInput [(ngModel)]="sensorData.sensorId" placeholder="Leave empty for default main sensor">
  </mat-form-field>
</div>
