@import '../main-ui/main-ui.component.scss';

.pid {
  .input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media (min-width: $width-landscape) {
      flex-direction: column;
    }

    .misc,
    .constants {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      > * {
        max-width: $textWidth / 3 * 2;
      }

      @media (min-width: $width-landscape) {
        flex-direction: row;
      }
    }
  }
}
