<div class="pid">

  <div class="input">

    <div class="misc">
      <mat-form-field class="input">
        <mat-label>diffTolerance</mat-label>
        <input matInput [(ngModel)]="sensorData.controlData.diffTolerance" type="number" min="-10" max="10" step="0.1" placeholder="0.1">
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>refreshTime (in ms)</mat-label>
        <input matInput [(ngModel)]="sensorData.controlData.refreshTime" type="number" min="0" max="100000" step="100" placeholder="1000">
      </mat-form-field>
    </div>

    <div class="constants">
      <!-- PID constants -->
      <mat-form-field class="kPID">
        <mat-label>kP</mat-label>
        <input matInput [(ngModel)]="sensorData.controlData.kP" type="number" min="0" max="1000" step="0.1" placeholder="1">
      </mat-form-field>
      <mat-form-field class="kPID">
        <mat-label>kI</mat-label>
        <input matInput [(ngModel)]="sensorData.controlData.kI" type="number" min="0" max="1000" step="0.1" placeholder="0.1">
      </mat-form-field>
      <mat-form-field class="kPID">
        <mat-label>kD</mat-label>
        <input matInput [(ngModel)]="sensorData.controlData.kD" type="number" min="0" max="1000" step="0.1" placeholder="0.1">
      </mat-form-field>
    </div>
  </div>

</div>
