<div class="main-ui">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Ango</h1>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav class="sidenav" role="navigation" mode="side" opened="true">
      <mat-nav-list class="nav-list">
        <a mat-list-item>
          <mat-icon *ngIf="isSideNavTextExpanded" (click)="toggleSideNavIconsAlwaysOn()">chevron_left</mat-icon>
          <mat-icon *ngIf="!isSideNavTextExpanded" (click)="toggleSideNavIconsAlwaysOn()">chevron_right</mat-icon>
        </a>

        <a mat-list-item routerLink="/temperature">
          <mat-icon>home</mat-icon>
          <p *ngIf=isSideNavTextExpanded>Temperature</p>
        </a>
        <a mat-list-item routerLink="/settings">
          <mat-icon>settings</mat-icon>
          <p *ngIf=isSideNavTextExpanded>Settings</p>
        </a>
        <a mat-list-item routerLink="/about">
          <mat-icon>info</mat-icon>
          <p *ngIf=isSideNavTextExpanded>About</p>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" role="main">
      <div class="sidenav-subcontent">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
