$textWidth: 10em;
$spinner-height: 0.1em;

$width-landscape: 500px;

$color-primary: #3f51b5;
$color-secondary: #ff4081;
$color-message: #333333;

/* #region Templates*/
%data {
  font-size: 1.5em;
  color: white;
}

%label-data {
  .label {
    font-size: 1.5em;
  }

  .data {
    @extend %data;
  }
}
/* #endregion */

.main-ui {
  background: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .sidenav-container {
    background: transparent;
    flex: 1;

    .sidenav {
      background: $color-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .nav-list {
        flex: 0.3 1 10%;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        > * {
          color: white;
        }

        p {
          padding-left: 0.5em;
        }
      }
    }

    .sidenav-content {
      padding: 0 0.5em 0 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidenav-subcontent {
        width: 100%;
        max-width: $textWidth * 3;
      }
    }
  }
}
