<div class="gpio">
  <!-- GPIO controlls -->
  <mat-form-field class="input">
    <mat-label>GPIO pin</mat-label>
    <input matInput [(ngModel)]="sensorData.controlData.gpio" type="number" placeholder="3" [matAutocomplete]="autoGpio" [formControl]="gpioFormControl">
    <mat-autocomplete class="autocomplete" #autoGpio="matAutocomplete">
      <!-- <mat-option *ngFor="let option of filteredGpioOptions | async" [value]="option">
        {{ option }}
            </mat-option> -->
      <mat-option value="3">3</mat-option>
      <mat-option value="22">22</mat-option>
    </mat-autocomplete>

  </mat-form-field>

</div>
