@import '../main-ui/main-ui.component.scss';

.gpio {
  .input {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-around;

    @media (min-width: $width-landscape) {
      flex-direction: column;
    }
  }
}
