/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  // background-color: #0086cf;
  background-color: #02a4f0;
  margin: unset;
}
