@import '../main-ui/main-ui.component.scss';

.temperature {
  text-align: center;
  // all direct children
  // > * {
  //   padding: 0.5em;
  //   width: 100%;
  // }

  .currentTemp {
    @extend %label-data;

    .data {
      font-weight: bolder;
      color: $color-secondary;
    }

    .spinner {
      height: $spinner-height;

      .progress {
        height: $spinner-height;
      }
    }
  }

  .lastRefreshed {
    color: $color-message;
  }

  .button {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .refresh {
      margin-bottom: 1em;
    }
  }

  .setpoint {
    @extend %label-data;

    .slider {
      width: 90%;
      max-width: $textWidth * 2;
    }
  }

  .service.message {
    color: $color-message;
    padding-top: 1em;

    .ok {
      color: $color-message;
    }
    .error {
      color: #ffffff;
      font-weight: bolder;
    }
  }
}
