<div class="temperature">

  <div class="currentTemp">
    <span class="label">Current temperature:
      <br />
      <span class="data">{{ currentTemperature }}</span>
    </span>
    <span class="label" *ngIf="currentServiceTemperature">&deg;C</span>
    <div class="spinner">
      <mat-progress-bar class="progress" mode="indeterminate" *ngIf="showRefreshingSpinner"></mat-progress-bar>
    </div>
  </div>

  <div class="lastRefreshed">
    <span class="label">Last refreshed:</span>
    <span class="data">{{ lastRefreshed | date: "yyyy.MM.dd 'at' H:mm:ss" }}</span>
  </div>

  <div class="button">
    <!-- <button #buttonGetTemperature class="refresh" mat-raised-button (click)="getTemperature(false)" color="primary" disabled= {{disableButtonGetTemperature}}> -->
    <button #buttonGetTemperature class="refresh" *ngIf=showButtonGetTemperature mat-raised-button (click)="getTemperature(false)" color="primary" disabled={{disableButtonGetTemperature}}>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>

  <!-- Setpoint -->
  <div class="setpoint">
    <div>
      <mat-label class="label">Setpoint:
        <span class="data">{{(setpoint !== undefined) ? (setTemp.value) : ("?")}}</span>&deg;C</mat-label>
    </div>
    <div>
      <mat-slider #setTemp class="slider" [(ngModel)]="settingsService.sensorData.controlData.setpoint" min="0" max="100" step="1" (change)="onSliderValueChange($event)"></mat-slider>
    </div>
  </div>

  <!-- Have to switch these buttons to programService (that has yet to be implemented) -->
  <div class="button">
    <button *ngIf=showButtonStart #buttonStart class="start" mat-raised-button (click)="startProgramService()" color="primary" disabled={{disableButtonStart}}>
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button *ngIf=showButtonPause #buttonPause class="pause" mat-raised-button (click)="pauseProgramService()" color="primary">
      <mat-icon>pause</mat-icon>
    </button>
    <button *ngIf=showButtonResume #buttonResume class="resume" mat-raised-button (click)="resumeProgramService()" color="primary">
      <mat-icon>play_arrow</mat-icon>
    </button>
    <button *ngIf=showButtonUpdate #buttonUpdate class="update" mat-raised-button (click)="updateProgramService()" color="primary">
      <mat-icon>refresh</mat-icon>
    </button>
    <button *ngIf=showButtonStop #buttonStop class="stop" mat-raised-button (click)="stopProgramService()" color="primary">
      <mat-icon>stop</mat-icon>
    </button>
  </div>

  <div class="service message" *ngIf="responseMessage">
    Message:
    <span [class]="messageColorClass">{{responseMessage}}</span>
  </div>

</div>
