<div class="settings">

  <div class="input">
    <mat-form-field class="ip">
      <mat-label>Raspberry Pi IP</mat-label>
      <input matInput [(ngModel)]="settingsService.serviceIP" type="url" placeholder="localhost:3000" [matAutocomplete]="autoIp" [formControl]="ipFormControl">
      <mat-autocomplete class="autocomplete" #autoIp="matAutocomplete">
        <mat-option *ngFor="let option of filteredIpOptions | async" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <app-settings-sensors class="other sensors" [sensorData]='settingsService.sensorData'></app-settings-sensors>
  <app-settings-gpio class="other gpio" [sensorData]='settingsService.sensorData'></app-settings-gpio>
  <app-settings-pid class="other pid" [sensorData]='settingsService.sensorData'></app-settings-pid>

  <div class="input">
    <span class="button">
      <button #buttonSaveSettings class="save" mat-raised-button (click)="saveAppSettings()" color="primary">
        <mat-icon>save</mat-icon>
      </button>
    </span>
    <span class="button">
      <button #buttonLoadSettings class="load" mat-raised-button (click)="loadAppSettings()" color="primary">
        <mat-icon>cancel</mat-icon>
      </button>
    </span>
  </div>
</div>
